extends layout

block content
  doctype html
  html
    head
      meta(charset='UTF-8')
      title
      link(rel='stylesheet', href='style.css', type='text/css')

    body

      h1.title To Do List
      div
        form(action='/lists', method='post')
          input(type='text', name='description', placeholder='Type your todo')

          button
            strong +

          button
            strong -
